{% extends 'struct.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
	<link rel = 'stylesheet' href = '{% static "style.css" %}'>
</head>
{% block pagename %}
	{{ block.super }}
{% endblock %}
{% block menu %}
{{ block.super }}
{% endblock %}
{% block main %}
	<table border="1" align="center" width="1080">
        {% for action in actions %}
		<tr align="center">
            <td>
                <table border="0" align="center" width="1080">
                    <tr>
                        <td width="350" rowspan="3" align="center">
                            <img src = "/static/{{ action.picture_fn }}"  width="300" height="300"/>
                        </td>
                        <td>
                            <h2><u>{{ action.title }}</u></h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>{{ action.text }}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if action.first_date == action.last_date %}
                            <h4><i>Акция состоится {{ action.first_date }}</i></h4>
                            {% else %}
                            <h4><i>Акция продлится с {{ action.first_date }} по {{ action.last_date }}</i></h4>
                            {% endif %}
                            {% if action.presents and current_user != 0 and action.actual %}
                            <h4><i><a href="http://127.0.0.1:8000/present/?action={{ action.id }}">Получить подарок</a></i></h4>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
		</tr>
        {% endfor %}
	</table>
{% endblock %}
{% block footer %}
{{ block.super }}
{% endblock %}

